mat-form-field{
    width: 100%;
    display: block;

    mat-icon[matSuffix]{
        cursor: pointer;
        user-select: none;

        &:hover{
            color: #707070;
        }

        &:active{
            transform: scale(0.9);
        }
    }
}