<h2 mat-dialog-title>About</h2>
<mat-dialog-content>
  <p>
    This application was created by <a href="https://matthias.thalmann.bz.it/" target="_blank">Matthias Thalmann</a> in 2018/19.
  </p>

  <p>
    It uses the API from the OpenDataHub of South Tyrol (<a href="https://opendatahub.bz.it/" target="_blank">https://opendatahub.bz.it/</a>).
    It's documentation can be found <a href="http://ipchannels.integreen-life.bz.it/meteorology/swagger-ui.html" target="_blank">here</a>.
  </p>

  <p>
    This application is free to use and modify for anyone under the terms of the <a href="https://github.com/m-thalmann/Weather/blob/master/LICENSE" target="_blank">MIT license</a>
  </p>
</mat-dialog-content>