<mat-card>
  <mat-card-title>{{ station.name }}</mat-card-title>
  <mat-card-subtitle>{{ station.municipality }} ({{ station.area }})</mat-card-subtitle>

  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let record of records">
        <i mat-list-icon [class]="record.name | weatherIcon" [matTooltip]="record.name | normalcase" matTooltipPosition="after"></i>
        <h4 mat-line *ngIf="record.name != 'wind-direction'">{{ record.value }} {{ record.unit }}</h4>
        <h4 mat-line *ngIf="record.name == 'wind-direction'">{{ record.value | direction }} ({{ record.value }}{{ record.unit }})</h4>
        <p mat-line>{{ record.timestamp | date:'medium' }}</p>
      </mat-list-item>
    </mat-list>

    <mat-spinner style="margin: 0 auto;" diameter="30" color="accent" *ngIf="records == null"></mat-spinner>
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button (click)="favorites.toggle(station.id)">
      <mat-icon *ngIf="favorites.is(station.id)">star</mat-icon>
      <mat-icon *ngIf="!favorites.is(station.id)">star_border</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>